html, body, #root {
  height: 100%;     /* poora height cover karna */
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;  /* vertical stacking */
  min-height: 100vh;       /* viewport ki full height */
}

.content {
  flex: 1;   /* ye stretch hoga bacha hua space fill karne ke liye */
}